.App-body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  color: rgb(51, 51, 51);
}
.img-cover {
  position: relative;
  margin: auto;
  height: 25vw;
  .avatarImg {
    height: 25vw;
    width: 25%;
    border-radius: 12.5vw;
    object-fit: cover;
  }
}

