@import './config.less';
.App-body {
  background-color: #fff;
  // height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: rgb(51, 51, 51);
}
.method-items {
  margin-top: 48px;
  width: 100%;
  ul {
    // justify-content: space-around;
    width: 80vw;
    margin: auto;
    display: flex;
    li {
      margin: auto;
      position: relative;
      background: transparent;
      z-index: 1;
      height: 40vw;
      width: 20vw;
      line-height: 40vw;
      text-transform: uppercase;
      color: #fff;
      &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        background: rgb(206, 192, 0);
        transform: skew(-26deg);
      }
    }
    .active::before {
      background: rgb(255, 222, 37);
    }
  }
}
.items {
  margin-top: 48px;
  margin-left: 2vw;
  border: 1px solid rgb(228, 228, 228);
  border-right: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 20px 0;
  ul {
    margin-left: 3vw;
    display: flex;
    .item {
      position: relative;
      z-index: 1;
      font-size: 16px;
      color: #000;
      height: 30vw;
      width: 20.5vw;
      min-width: 20.5vw;
      margin-left: 2vw;
      border-radius: 6px;
      text-align: left;
      padding: 0.5vw 1.5vw;
      background: rgb(206, 192, 0);
      cursor: pointer;
      text-decoration: none;
      // &::before {
      //   content: '';
      //   position: absolute;
      //   top: 0; right: 0; bottom: 0; left: 0;
      //   z-index: -1;
      //   background: rgb(206, 192, 0);
      //   transform: skew(-26deg);
      // }
      .title {
        margin-left: 1.5vw;
        font-weight: bolder;
        text-decoration: none;
      }
      .content {
        font-size: 14px;
      }
    }
  }
}
